langgraph>=0.0.20
langchain>=0.1.0
langchain-openai
chromadb
tiktoken
python-dotenv
fastapi  # agar API chahiye
uvicorn
streamlit # agar UI chahiye
fastapi==0.115.6
uvicorn[standard]==0.34.0
langgraph==0.2.38
langchain==0.3.13
langchain-openai==0.2.14
python-dotenv==1.0.1
langchain-google-genai==2.1.0